/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Single Post
--------------------------------------------------------------*/
.single.hide-nav-links .post-navigation {
  display: none;
}

.wiz-separate-container .wiz-author-box {
  background-color: #ffffff;
}

/*--------------------------------------------------------------
## Author Box
--------------------------------------------------------------*/
.wiz-archive-description {
  padding-top: 1.3333em;
  border-top: 1px solid #eee;
}
