.top-navigation {
    display: flex;
    align-items: center;
    line-height: 2;
      .nav-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      text-align: center;
      z-index: 99999;
          .sub-menu {
          margin: 0;
          padding: 0;
          list-style: none;
          position: absolute;
          top: -999em;
          left: -999em;
              li {
              display: inline-block;
              position: relative;
              text-align: left;
                  li {
                      display: block;
                  }
              }
          }
          li {
              display: inline-block;
              position: relative;
              text-align: right;
          }
          li.focus > .sub-menu,
          li:hover > .sub-menu {
              top: auto;
              left: auto;
          }
          li li.focus > .sub-menu,
          li li.hover > .sub-menu {
              left: 100%;
              top: 0;
          }
          a {
              text-decoration: none;
              display: block;
              white-space: nowrap;
              padding: 0 1em;
          }
          .menu-item-has-children > a::after {
              content: "\e907";
              display: inline-block;
              font-family: Wiz-font;
              font-size: 9px;
              font-size: 1rem;
              font-weight: 700;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              margin-left: 10px;
              vertical-align: middle;
              line-height: normal;
          }
      }
  }
  .top-bar-search-icon{
      .wiz-top-header-section{
          .wiz-search-icon{
              display: block;
          }
          .wiz-search-menu-icon{
              z-index: 10;
              .search-submit{
                  display: none;
              }
          }
      }   
  }
  .wiz-top-header {
      padding: 10px 0px;
      border-bottom-width: 1px;
  }
  .top-bar-search-box{
      .wiz-top-header-section{
          .wiz-search-icon{
              display: none;
          }
              .wiz-search-menu-icon{
                  width: 250px;
                  visibility: visible;
                  opacity: 1;
                  position: static;
                  display: block;
                  transform: none;
              .search-submit{
                  display: block;
                  position: absolute;
                  height: 100%;
                  top: 0;
                  right: 0;
                  padding: 0 1em;
                  -webkit-border-radius: 0;
                  border-radius: 0;
                  border: 0;
              }
              .search-field {
                  width: 100%;
                  margin: 0
              }
              .search-form {
                  padding: 0;
                  display: block;
                  overflow: hidden;
                  box-shadow: none;
              }
          }
      }
  }
  .wiz-top-header-section-1{
      .wiz-search-menu-icon {
          right: auto;
          left: 30px;
      }
      .wiz-dropdown-active{
          left: 0;
      }
  }
  .wiz-top-header-section{
      &.wiz-top-header-section-2{
          .wiz-search-menu-icon{
              right: 30px;
          }
          .wiz-dropdown-active{
              right: 0;
          }
      }
  }
    /* Top Header Responsive */
@media only screen and (max-width: 480px) {
    .wiz-top-header{
        &.hide-mobile{
            display: none;
        }
    }
  }
  
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .wiz-top-header{
        &.hide-tablet{
            display: none;
        }
    }
  }
    
  @media only screen and (max-width: 767px) {
    .wiz-top-header{
        &.hide-tablet-mobile{
            display: none;
        }
    }
    .wiz-header-break-point{
        .wiz-top-header-section{
            &.wiz-top-header-section-2 , &.wiz-top-header-section-1{
                .wiz-search-menu-icon{
                    left: 30px;
                    right: auto;
                }
                .wiz-dropdown-active{
                    right: auto;
                    left: 0;
                }
            }
        }
        .wiz-top-header-section{
            .wiz-search-menu-icon{
              left: 0;
              right: auto;
            }
        }
    }
  }