.single{
    &.hide-nav-links{
        .post-navigation{
            display: none;
        }
    }
}

.wiz-separate-container {
    .wiz-author-box{
        background-color: $color-background-body;
    }
}
