/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header 5
--------------------------------------------------------------*/
.logo-menu-icon .site-branding {
  float: left;
}

.menu-icon-social {
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-icon-social .menu-icon {
  padding: 5px;
  height: 56px;
  float: right;
  min-width: 56px;
  text-align: center;
  line-height: initial;
}

.menu-icon-social .social-icons {
  display: inline-block;
}

.open .icon-bars-btn {
  top: 8px;
}

.icon-bars-btn {
  width: 28px;
  height: 28px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  top: 5px;
}

.icon-bars-btn span {
  background-color: #4a4a4a;
  position: absolute;
  border-radius: 2px;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4), background-color 0s;
  width: 100%;
  height: 2px;
}

.wiz-top-header-section-wrap .wiz-col-md-6 {
  min-height: 0px;
}

.icon-bars-btn span:nth-child(1) {
  top: 8px;
  left: 0px;
}

.icon-bars-btn span:nth-child(2) {
  top: 16px;
  left: 0px;
  opacity: 1;
}

.icon-bars-btn span:nth-child(3) {
  top: 24px;
  left: 0px;
}

.menu-icon:not(.open) .icon-bars-btn:hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}

.menu-icon:not(.open) .icon-bars-btn:hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}

.menu-icon:not(.open) .icon-bars-btn:hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}

.menu-icon.open .icon-bars-btn span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.menu-icon.open .icon-bars-btn span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .icon-bars-btn span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}

.header-main-layout-5 .wiz-navbar-collapse {
  display: none;
  width: 100%;
  position: relative;
}

.header-main-layout-5 .main-navigation {
  display: block;
}

.header-main-layout-5 .main-header-menu {
  display: flex;
  flex-wrap: nowrap;
}

.header-main-layout-5 .main-header-menu li {
  flex-grow: 1;
  text-align: center;
}

.header-main-layout-5 .main-header-bar {
  border: none !important;
}

.header-main-layout-5 .main-header-container {
  position: relative;
  width: 100%;
  border-style: solid;
}

.header-main-layout-5.wiz-header-transparent {
  position: relative;
}

.header-main-layout-5.wiz-header-transparent .main-header-container {
  position: absolute;
}

.header-main-layout-5 .main-header-menu ul.sub-menu {
  width: 100%;
}

.wiz-header-break-point .header-main-layout-5 .wiz-navbar-collapse {
  display: block;
}

.wiz-header-break-point .header-main-layout-5 .main-header-menu {
  display: block;
}

.wiz-header-break-point .header-main-layout-5 .wiz-mobile-menu-buttons {
  align-items: center;
}

/*--------------------------------------------------------------
## Header 6
--------------------------------------------------------------*/
.admin-bar.header-main-layout-6 .main-header-bar-wrap {
  margin-top: 33px;
}

.v-header-align-right .main-header-bar-wrap {
  right: 0;
  border-left: 1px solid #eee;
}

.v-header-align-left .main-header-bar-wrap {
  left: 0;
  border-right: 1px solid #eee;
}

.ss-wrapper {
  overflow-x: hidden;
}

.header-main-layout-6 .main-header-bar {
  border-bottom-width: 0 !important;
}

.header-main-layout-6 .main-header-bar-navigation {
  width: 100%;
}

.header-main-layout-6 .main-header-bar-wrap {
  text-align: center;
  position: fixed;
  top: 0;
  max-width: 100%;
  height: 100%;
  border-bottom: none;
  z-index: 100;
}

.header-main-layout-6 .wiz-site-identity {
  padding: 60px 0px;
}

.header-main-layout-6 #site-navigation {
  display: block;
}

.header-main-layout-6 #site-navigation li {
  width: 100%;
  display: block;
  float: none;
  position: relative;
}

.header-main-layout-6 #site-navigation li:hover > .sub-menu {
  position: static;
}

.header-main-layout-6 #site-navigation li:hover > a:after {
  transform: rotateX(180deg) !important;
}

.header-main-layout-6 #site-navigation li ul li:hover > a:after {
  transform: rotateX(180deg) !important;
}

.header-main-layout-6 #site-navigation li ul li.menu-item-has-children {
  width: 80%;
  margin: auto;
}

.header-main-layout-6 #site-navigation li ul li.menu-item-has-children > a {
  position: static;
}

.header-main-layout-6 #site-navigation li ul li.menu-item-has-children > a:after {
  top: inherit;
  transform: translate(0, 0%);
}

.header-main-layout-6 #site-navigation li:last-child {
  border-bottom: 0px;
}

.header-main-layout-6 #site-navigation .sub-menu {
  width: 100%;
}

.header-main-layout-6 .wiz-sitehead-custom-menu-items {
  display: block;
  text-align: center;
}

.header-main-layout-6.has-box-shadow.v-header-align-right .main-header-bar-wrap {
  box-shadow: -2px 0 4px 2px rgba(0, 0, 0, 0.15);
}

.header-main-layout-6.has-box-shadow.v-header-align-left .main-header-bar-wrap {
  box-shadow: 2px 0 4px 2px rgba(0, 0, 0, 0.15);
}

.header-main-layout-6 .main-header-container {
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.header-main-layout-6 .main-navigation,
.header-main-layout-6 .wiz-main-header-bar-alignment {
  width: 100%;
  text-align: center;
}

.wiz-header-break-point.wiz-main-v-header-align-left.header-main-layout-6, .wiz-header-break-point.wiz-main-v-header-align-right.header-main-layout-6, .wiz-header-break-point.wiz-main-v-header-align-left.header-main-layout-8, .wiz-header-break-point.wiz-main-v-header-align-right.header-main-layout-8 {
  padding: 0;
}

.wiz-header-break-point .header-main-layout-6 .main-header-bar-wrap {
  width: 100%;
  border: 0px;
}

.wiz-header-break-point .wiz-sitehead-custom-menu-items .wiz-search-container {
  width: inherit;
}

.wiz-header-break-point .ss-wrapper {
  position: initial;
  margin: 0px;
  height: auto;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) !important;
}

.wiz-header-break-point .main-header-container {
  display: flex !important;
}

.wiz-header-break-point .menu-icon-social {
  display: none !important;
}

.wiz-header-break-point .main-header-container {
  flex-direction: row;
  display: flex;
}

.wiz-header-break-point .wiz-site-identity {
  padding: 0;
}

.wiz-header-break-point .ss-content {
  width: 100%;
  overflow: hidden;
}

.wiz-header-break-point .site-branding {
  padding-left: 20px;
}

.wiz-header-break-point .wiz-mobile-menu-buttons {
  padding-right: 20px;
}

.header-main-layout-8 .main-header-bar .wiz-sitehead-custom-menu-items .search-icon .wiz-search-menu-icon {
  left: 30px;
}

.header-main-layout-8 .main-header-bar .wiz-sitehead-custom-menu-items .search-icon .wiz-dropdown-active {
  left: 0;
}

.header-main-layout-6 .main-header-bar .wiz-sitehead-custom-menu-items .search-icon.wiz-search-container {
  width: 250px;
}

.header-main-layout-6 .main-header-bar .wiz-sitehead-custom-menu-items .search-icon .wiz-search-menu-icon {
  left: 30px;
}

.header-main-layout-6 .main-header-bar .wiz-sitehead-custom-menu-items .search-icon .wiz-dropdown-active {
  left: 0px;
}

/*--------------------------------------------------------------
## Header 7
--------------------------------------------------------------*/
.header-main-layout-7 .wiz-sitehead-custom-menu-items {
  display: block;
  text-align: center;
}

.header-main-layout-7 .header-layout-7-logo {
  display: flex;
  align-items: center;
}

.header-main-layout-7 .main-header-bar-wrap {
  text-align: center;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  max-width: 100%;
  height: 100%;
  border-bottom: none;
  z-index: 100;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #fff;
}

.header-main-layout-7 .main-header-bar-wrap.side-header {
  opacity: 0.8;
  visibility: visible;
}

.header-main-layout-7 .main-header-bar-wrap.side-header .main-header-bar {
  display: block;
}

.header-main-layout-7 .main-header-bar-wrap .main-header-bar {
  border: 0 !important;
  display: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-main-layout-7 .main-header-bar-wrap .main-header-container {
  padding-top: 150px;
}

.header-main-layout-7 .menu-icon-social {
  position: fixed;
  top: 0;
  right: 50px;
  z-index: 999;
}

.header-main-layout-7 .menu-icon-social .menu-icon {
  border-radius: 50%;
}

.header-main-layout-7 .site-title {
  display: block;
}

.header-main-layout-7 .site-branding {
  text-align: left;
  padding: 0 50px;
}

.header-main-layout-7 #site-navigation {
  display: block;
}

.header-main-layout-7 #site-navigation li {
  width: 100%;
  display: block;
  float: none;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header-main-layout-7 #site-navigation li:hover > .sub-menu {
  position: static;
}

.header-main-layout-7 #site-navigation li:hover > a:after {
  transform: rotateX(180deg) !important;
}

.header-main-layout-7 #site-navigation li ul li:hover > a:after {
  transform: rotateX(180deg);
}

.header-main-layout-7 #site-navigation li ul li.menu-item-has-children {
  width: 80%;
  margin: auto;
}

.header-main-layout-7 #site-navigation li ul li.menu-item-has-children > a {
  position: static;
}

.header-main-layout-7 #site-navigation li ul li.menu-item-has-children > a:after {
  top: inherit;
  transform: translate(0, 0%);
}

.header-main-layout-7 #site-navigation li:last-child {
  border-bottom: 0px;
}

.header-main-layout-7 #site-navigation .sub-menu {
  width: 100%;
}

.header-main-layout-7 .wiz-sitehead-custom-menu-items {
  display: block;
  text-align: center;
}

.header-main-layout-7 .main-header-container {
  justify-content: center;
  flex-direction: column;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-main-layout-7 .henavigation,
.header-main-layout-7 .wiz-main-header-bar-alignment {
  width: 100%;
  text-align: center;
}

.wiz-header-break-point .header-main-layout-7 .main-header-container {
  padding-top: unset;
}

.wiz-header-break-point .header-main-layout-7 .main-header-bar-wrap {
  visibility: visible !important;
  opacity: 1 !important;
}

.wiz-header-break-point .header-main-layout-7 .main-header-bar-wrap .main-header-bar {
  padding: 0;
  display: block !important;
}

.wiz-header-break-point .header-main-layout-7 .main-header-container {
  display: flex !important;
}

.wiz-header-break-point .header-main-layout-7 .menu-icon-social {
  display: none !important;
}

.wiz-header-break-point .header-main-layout-7 .main-header-container {
  flex-direction: row;
  display: flex;
}

.wiz-header-break-point .header-main-layout-7 .wiz-site-identity {
  padding: 0;
}

.wiz-header-break-point .header-main-layout-7 .site-branding {
  padding-left: 20px;
}

.wiz-header-break-point .header-main-layout-7 .wiz-mobile-menu-buttons {
  padding-right: 20px;
}

/*--------------------------------------------------------------
## Header 8
--------------------------------------------------------------*/
.admin-bar.header-main-layout-8 .main-header-bar-wrap {
  margin-top: 33px;
}

.wiz-main-v-header-align-right.header-main-layout-8 {
  padding-right: 60px;
}

.wiz-main-v-header-align-left.header-main-layout-8 {
  padding-left: 60px;
}

.header-main-layout-8 {
  position: relative;
}

.header-main-layout-8 .main-header-bar {
  border-bottom-width: 0 !important;
}

.header-main-layout-8.has-box-shadow.v-header-align-right .main-header-bar-wrap {
  box-shadow: -2px 0 4px 2px rgba(0, 0, 0, 0.15);
}

.header-main-layout-8.has-box-shadow.v-header-align-left .main-header-bar-wrap {
  box-shadow: 2px 0 4px 2px rgba(0, 0, 0, 0.15);
}

.header-main-layout-8 .header-main-layout-8 .wiz-sitehead-custom-menu-items {
  display: block;
  text-align: center;
}

.header-main-layout-8 .main-header-bar-wrap {
  text-align: center;
  width: 60px;
  position: fixed;
  top: 0;
  max-width: 100%;
  height: 100%;
  border-bottom: none;
  z-index: 100;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-main-layout-8 .main-header-bar-wrap.side-header {
  width: 300px;
}

.header-main-layout-8 .main-header-bar-wrap.side-header .main-header-container {
  opacity: 1;
  visibility: visible;
}

.header-main-layout-8 .wiz-site-identity {
  padding-top: 60px;
}

.header-main-layout-8 .menu-icon-social {
  position: absolute;
  top: 0;
  left: 2px;
  z-index: 999;
}

.header-main-layout-8 .site-title {
  display: block;
}

.header-main-layout-8 .site-branding {
  text-align: center;
}

.header-main-layout-8 #site-navigation {
  display: block;
}

.header-main-layout-8 #site-navigation li {
  width: 100%;
  display: block;
  float: none;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header-main-layout-8 #site-navigation li:hover > .sub-menu {
  position: static;
}

.header-main-layout-8 #site-navigation li:hover > a:after {
  transform: rotateX(180deg) !important;
}

.header-main-layout-8 #site-navigation li ul li:hover > a:after {
  transform: rotateX(180deg);
}

.header-main-layout-8 #site-navigation li ul li.menu-item-has-children {
  width: 80%;
  margin: auto;
}

.header-main-layout-8 #site-navigation li ul li.menu-item-has-children > a {
  position: static;
}

.header-main-layout-8 #site-navigation li ul li.menu-item-has-children > a:after {
  top: inherit;
  transform: translate(0, 0%);
}

.header-main-layout-8 #site-navigation li:last-child {
  border-bottom: 0px;
}

.header-main-layout-8 #site-navigation .sub-menu {
  width: 100%;
}

.header-main-layout-8 .wiz-sitehead-custom-menu-items {
  display: block;
  text-align: center;
}

.header-main-layout-8 .wiz-sitehead-custom-menu-items .wiz-search-container {
  width: 250px;
}

.header-main-layout-8 .main-header-container {
  justify-content: center;
  flex-direction: column;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-main-layout-8 .henavigation,
.header-main-layout-8 .wiz-main-header-bar-alignment {
  width: 100%;
  text-align: center;
}

.wiz-header-break-point .header-main-layout-8 .main-header-container {
  display: flex !important;
}

.wiz-header-break-point .header-main-layout-8 .menu-icon-social {
  display: none !important;
}

.wiz-header-break-point .header-main-layout-8 .main-header-container {
  flex-direction: row;
  display: flex;
  visibility: visible !important;
  opacity: 1 !important;
}

.wiz-header-break-point .header-main-layout-8 .wiz-site-identity {
  padding: 0;
}

.wiz-header-break-point .header-main-layout-8 .ss-content {
  overflow: hidden;
  width: auto;
}

.wiz-header-break-point .header-main-layout-8 .site-branding {
  padding-left: 20px;
}

.wiz-header-break-point .header-main-layout-8 .wiz-mobile-menu-buttons {
  padding-right: 20px;
}

.wiz-header-break-point .header-main-layout-8 .wiz-sitehead-custom-menu-items .search-icon .wiz-search-container, .wiz-header-break-point .header-main-layout-6 .wiz-sitehead-custom-menu-items .search-icon .wiz-search-container {
  width: fit-content;
  margin: auto;
}

.wiz-header-break-point .header-main-layout-8 .wiz-sitehead-custom-menu-items .search-icon .wiz-search-container .wiz-search-menu-icon, .wiz-header-break-point .header-main-layout-6 .wiz-sitehead-custom-menu-items .search-icon .wiz-search-container .wiz-search-menu-icon {
  left: unset;
}

.wiz-header-break-point .header-main-layout-8 .wiz-sitehead-custom-menu-items .search-icon .wiz-search-container .wiz-dropdown-active, .wiz-header-break-point .header-main-layout-6 .wiz-sitehead-custom-menu-items .search-icon .wiz-search-container .wiz-dropdown-active {
  left: unset;
}

.wiz-header-break-point .header-main-layout-8 .main-header-bar-wrap, .wiz-header-break-point .header-main-layout-6 .main-header-bar-wrap, .wiz-header-break-point .header-main-layout-7 .main-header-bar-wrap {
  width: 100%;
  border: 0px !important;
}

.wiz-header-break-point .header-main-layout-8 .ss-wrapper, .wiz-header-break-point .header-main-layout-6 .ss-wrapper, .wiz-header-break-point .header-main-layout-7 .ss-wrapper {
  position: initial;
  margin: 0px;
  height: auto;
}

/*--------------------------------------------------------------
## Header 9
--------------------------------------------------------------*/
.header-main-layout-9 .main-header-container {
  text-align: center;
  position: relative;
  left: -30px;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-main-layout-9 .main-header-container.side-header {
  left: 0;
  opacity: 1;
}

.header-main-layout-9 .inline-icon-menu-header {
  display: flex;
  align-items: center;
}

.header-main-layout-9 .inline-logo-menu {
  display: flex;
  align-items: center;
}

.header-main-layout-9 .inline-logo-menu .site-branding {
  position: relative;
  padding-right: 20px;
}

.header-main-layout-9 .inline-logo-menu .site-branding:after {
  right: 0;
  content: "";
  position: absolute;
  height: 30px;
  top: 35px;
  width: 2px;
  background-color: #eee;
}

.header-main-layout-9 .inline-logo-menu .menu-icon-social {
  margin-left: 20px;
  position: relative;
  z-index: 99;
}

.wiz-header-break-point .header-main-layout-9 .main-header-container {
  opacity: 1;
  left: 0;
}

.wiz-header-break-point .header-main-layout-9 .inline-icon-menu-header {
  display: block;
}

.wiz-header-break-point .header-main-layout-9 .site-branding:after {
  height: 0;
  width: 0;
}
