/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Top Header
--------------------------------------------------------------*/
.sticky-custom-logo-link {
  display: none;
}

.wiz-is-sticky {
  position: fixed;
  width: 100%;
  background-color: #fff;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.wiz-is-sticky.sticky-fade {
  animation-name: fadeIn;
}

.wiz-is-sticky.sticky-slide {
  animation-name: slideInDown;
}

.wiz-is-sticky.wiz-sticky-header.sticky-main-header .main-header-bar-wrap {
  display: block;
}

.wiz-is-sticky .main-header-bar-wrap {
  display: none;
}

.wiz-is-sticky .sticky-custom-logo-link {
  display: inline-block;
}

.wiz-is-sticky .main-header-bar {
  background-color: transparent;
}

.wiz-is-sticky.wiz-sticky-logo .custom-logo-link {
  display: none;
}

.wiz-is-sticky.wiz-sticky-logo .sticky-custom-logo {
  display: block;
}

.wiz-is-sticky .wiz-top-header-wrap {
  display: none;
}

.wiz-is-sticky.wiz-sticky-header.wiz-sticky-top-bar .wiz-top-header-wrap {
  display: block;
}

.sticky-custom-logo {
  display: none;
}

.wiz-header-break-point .wiz-is-sticky {
  top: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInDown {
  0% {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

/* Sticky Header Responsive */
@media only screen and (max-width: 480px) {
  .sticky-hide-mobile.wiz-is-sticky {
    position: relative !important;
  }
  .wiz-is-sticky {
    top: 0px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .sticky-hide-tablet.wiz-is-sticky {
    position: relative !important;
  }
}

@media only screen and (max-width: 767px) {
  .sticky-hide-tablet-mobile.wiz-is-sticky {
    position: relative !important;
  }
}
