/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Page Title
--------------------------------------------------------------*/
.wiz-page-title-addon-content {
  padding: 50px 0px;
  background-color: #ccc;
}

.wiz-breadcrumb-trail .trail-items, .wiz-breadcrumb-trail li {
  list-style: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.wiz-breadcrumb-trail .breadcrumb-sep {
  padding: 0 0.4em;
}

.page-title-layout-2 .wiz-container {
  display: flex;
  flex-wrap: nowrap;
}

.page-title-layout-2 .wiz-page-title-wrap, .page-title-layout-2 .wiz-breadcrumb-trail {
  flex-grow: 1;
  text-align: center;
  align-self: center;
  text-align: left;
}

.page-title-layout-2 .wiz-breadcrumb-trail {
  text-align: right;
}

.wiz-merged-header-title .wiz-page-title-addon-content {
  background-color: transparent;
  background-image: none;
}

.wiz-page-title::after {
  content: "";
  display: block;
}

.align-center .wiz-page-title::after {
  margin-left: auto;
  margin-right: auto;
}

.align-right .wiz-page-title::after {
  margin-left: auto;
}

.page-title-layout-3 .wiz-page-title-wrap {
  border-right: 3px solid;
}

@media only screen and (max-width: 767px) {
  .page-title-layout-3 .wiz-page-title-wrap {
    justify-content: center;
    border-right: none;
  }
  .page-title-layout-3 .wiz-breadcrumb-trail {
    display: none;
  }
}
