.admin-bar {
    &.header-main-layout-6 {
        .main-header-bar-wrap {
        margin-top: 33px;
        }
    }
}
.v-header-align-right{
    .main-header-bar-wrap {
        right: 0;
        border-left: 1px solid #eee;
    }
}
.v-header-align-left{
    .main-header-bar-wrap {
        left: 0;
        border-right: 1px solid #eee;
    }
}
.ss-wrapper{
    overflow-x: hidden;
}
.header-main-layout-6 {
    .main-header-bar{
        border-bottom-width: 0 !important;
    }
    .main-header-bar-navigation{
        width: 100%;
    }
    .main-header-bar-wrap {
        text-align: center;
        position: fixed;
        top: 0;
        max-width: 100%;
        height: 100%;
        border-bottom: none;
        z-index: 100;
    }
    .wiz-site-identity {
        padding: 60px 0px;
    }
    #site-navigation {
        display: block;
        li{
            width: 100%;
            display: block;
            float: none;
            position: relative;
            &:hover{
                > .sub-menu{            
                    position: static;
                }
                >a{
                    &:after{
                        transform: rotateX(180deg) !important;
                    }
                }
            } 
            ul{
                li{
                    &:hover{
                        >a{
                            &:after{
                                transform: rotateX(180deg) !important;
                            }
                        }
                    }
                    &.menu-item-has-children{
                        width: 80%;
                        margin: auto;
                        >a{
                            position: static;
                            &:after{
                                top: inherit;
                                transform: translate(0,0%);
                            }
                        }
                    }
                }
            }       
        }
        li:last-child {
            border-bottom: 0px;
        }
        .sub-menu {
            width: 100%;
        }
        
    }
    .wiz-sitehead-custom-menu-items {
        display: block;
        text-align: center;
    }
    &.has-box-shadow.v-header-align-right{
        .main-header-bar-wrap {
            box-shadow: -2px 0 4px 2px rgba(0,0,0,.15);
        }
    }
    &.has-box-shadow.v-header-align-left{
        .main-header-bar-wrap {
            box-shadow: 2px 0 4px 2px rgba(0,0,0,.15);
        }
    }
    
    .main-header-container {
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .main-navigation,
    .wiz-main-header-bar-alignment {
        width: 100%;
        text-align: center;
    }
}
.wiz-header-break-point{
    &.wiz-main-v-header-align-left.header-main-layout-6, &.wiz-main-v-header-align-right.header-main-layout-6 ,&.wiz-main-v-header-align-left.header-main-layout-8, &.wiz-main-v-header-align-right.header-main-layout-8{
        padding: 0 ;
    }
    .header-main-layout-6{
        .main-header-bar-wrap {
            width: 100% ;
            border: 0px; 
            }
            
        }
        .wiz-sitehead-custom-menu-items{
            .wiz-search-container{
                width: inherit;
            }
        }
        .ss-wrapper {
        position: initial;
        margin: 0px;
        height: auto;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,.15) !important;
        }
        
        .main-header-container{
            display: flex !important;
        }
        .menu-icon-social{
            display: none !important;
        }
        .main-header-container{
            flex-direction: row;
            display: flex;
            
        }
        .wiz-site-identity{
            padding: 0;
        }
        .ss-content{
            width: 100%;
            overflow: hidden;
        }
        .site-branding{
            padding-left: 20px;
        }
     
    .wiz-mobile-menu-buttons{
        padding-right: 20px;
    }
}

.header-main-layout-8{
    .main-header-bar{
        .wiz-sitehead-custom-menu-items{
            .search-icon{          
                .wiz-search-menu-icon{ 
                    left: 30px;
                }
                .wiz-dropdown-active{
                    left: 0;
                }
            } 
        }
    }
}
.header-main-layout-6{
    .main-header-bar{
        .wiz-sitehead-custom-menu-items{
            .search-icon{ 
                &.wiz-search-container{
                    width: 250px;
                }
                .wiz-search-menu-icon{
                    left: 30px;
                }
                .wiz-dropdown-active{
                    left: 0px;
                }
            } 
        }
    }
}
