.header-main-layout-7{
    .wiz-sitehead-custom-menu-items {
        display: block;
        text-align: center;
    }    
    .header-layout-7-logo{
        display: flex;
        align-items: center;
    }
    .main-header-bar-wrap {
        text-align: center;
        opacity: 0;
        visibility: hidden;
        &.side-header{
            opacity: 0.8;
            visibility: visible;
            .main-header-bar{
                display: block;
            }
        }
        .main-header-bar{
            border: 0 !important;
            display: none;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }
        width: 100%;
        position: fixed;
        top: 0;
        max-width: 100%;
        height: 100%;
        border-bottom: none;
        z-index: 100;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        .main-header-container{
            padding-top: 150px;
        }    
        background-color: #fff;
    }
    .menu-icon-social{
        position: fixed;
        top: 0;
        right: 50px;
        z-index: 999;
        .menu-icon{
            border-radius: 50%;
        }
    }
    .site-title{
        display: block;
    }
    .site-branding{
        text-align: left;
        padding: 0 50px;
    }
    #site-navigation {
        display: block;
        li {
            width: 100%;
            display: block;
            float: none;
            position: relative;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            &:hover{
                > .sub-menu{            
                    position: static;
                }
                >a{
                    &:after{
                        transform: rotateX(180deg) !important;
                    }
                }
            } 
            ul{
                li{
                    &:hover{
                        >a{
                            &:after{
                                transform: rotateX(180deg);
                            }
                        }
                    }
                    &.menu-item-has-children{
                        width: 80%;
                        margin: auto;
                        >a{
                            position: static;
                            &:after{
                                top: inherit;
                                transform: translate(0,0%);
                            }
                        }
                    }
                }
            } 
        }
        li:last-child {
            border-bottom: 0px;
        }
        .sub-menu {
            width: 100%;
        }
    }
    .wiz-sitehead-custom-menu-items {
        display: block;
        text-align: center;
    }
    
    .main-header-container {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    .henavigation,
    .wiz-main-header-bar-alignment {
        width: 100%;
        text-align: center;
    }
}
.wiz-header-break-point{
    .header-main-layout-7{
        .main-header-container{
            padding-top: unset;
        } 
        .main-header-bar-wrap{
            visibility: visible !important;
            opacity: 1 !important;
            .main-header-bar {
                padding: 0;
                display: block !important;
            }
        } 
        .main-header-container{
            display: flex !important;
        }
        .menu-icon-social{
            display: none !important;
        }
        .main-header-container{
            flex-direction: row;
            display: flex;  
        }
        .wiz-site-identity{
            padding: 0;
        }
        .site-branding{
            padding-left: 20px;
        }
        .wiz-mobile-menu-buttons{
            padding-right: 20px;
        }
    }
}