.logo-menu-icon .site-branding {
    float: left;
}

.menu-icon-social {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    .menu-icon {
        padding: 5px;
        height: 56px;
        float: right;
        min-width: 56px;
        text-align: center;
        line-height: initial;
    }
    .social-icons {
        display: inline-block;
    }
}
.open .icon-bars-btn {
    top: 8px;
}
.icon-bars-btn {
    width: 28px;
    height: 28px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    top: 5px;
    span {
        background-color: #4a4a4a;
        position: absolute;
        border-radius: 2px;
        transition: all .5s cubic-bezier(.8,.5,.2,1.4) , background-color 0s;
        width:100%;
        height: 2px;
    }
}
.wiz-top-header-section-wrap .wiz-col-md-6 {
    min-height: 0px;
}
.icon-bars-btn {
    span:nth-child(1) {
        top: 8px;
        left: 0px;
    }
    span:nth-child(2) {
        top: 16px;  
        left: 0px;
        opacity: 1;
    }
    span:nth-child(3) {
        top: 24px;
        left: 0px;
    }
}

.menu-icon:not(.open) {
    .icon-bars-btn:hover span:nth-child(1){
        transform: rotate(-3deg) scaleY(1.1);
    }
    .icon-bars-btn:hover span:nth-child(2){
        transform: rotate(3deg) scaleY(1.1);
    }
    .icon-bars-btn:hover span:nth-child(3){
     transform: rotate(-4deg) scaleY(1.1);
    }
}
.menu-icon.open {
 .icon-bars-btn span:nth-child(1){
  transform: rotate(45deg);
  top: 13px;
    }
   .icon-bars-btn span:nth-child(2){
   opacity:0;
    }
    .icon-bars-btn span:nth-child(3){
    transform: rotate(-45deg);
    top: 13px;
    }
}

.header-main-layout-5 { 
    .wiz-navbar-collapse {
    display: none;
    width: 100%;
    position: relative;
    }
    .main-navigation {
    display: block;
    }
    .main-header-menu {
    display: flex;
    flex-wrap: nowrap;
        li {
        flex-grow: 1;
        text-align: center;
        }
    }
    .main-header-bar {
    border: none !important;
    }
    .main-header-container {
    position: relative;
    width: 100%;
    border-style: solid;
    }
    &.wiz-header-transparent {
    position: relative;
    }
    &.wiz-header-transparent .main-header-container {
    position: absolute;
    }
    .main-header-menu ul.sub-menu {
    width: 100%;
    }
}
.wiz-header-break-point{
    .header-main-layout-5{
        .wiz-navbar-collapse{
            display: block;
        }
        .main-header-menu{
            display: block;
        }
        .wiz-mobile-menu-buttons{
            align-items: center;
        }
    } 
}
