.admin-bar {
    &.header-main-layout-8{
        .main-header-bar-wrap {
        margin-top: 33px;
        }
    }
}
.wiz-main-v-header-align-right.header-main-layout-8{
    padding-right: 60px;
}
.wiz-main-v-header-align-left.header-main-layout-8{
    padding-left: 60px;
}
.header-main-layout-8{
    position: relative;
    .main-header-bar{
        border-bottom-width: 0 !important;
    }
    &.has-box-shadow.v-header-align-right {
        .main-header-bar-wrap {
            box-shadow: -2px 0 4px 2px rgba(0,0,0,.15);
        }
    }
    &.has-box-shadow.v-header-align-left{
        .main-header-bar-wrap {
            box-shadow: 2px 0 4px 2px rgba(0,0,0,.15);
        }
    }
    .header-main-layout-8 .wiz-sitehead-custom-menu-items {
        display: block;
        text-align: center;
    }    
    .main-header-bar-wrap {
        text-align: center;
        width: 60px;
        position: fixed;
        top: 0;
        max-width: 100%;
        height: 100%;
        border-bottom: none;
        z-index: 100;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        &.side-header{
            width: 300px;
            .main-header-container{
                opacity: 1;
                visibility: visible;
            }    
        }
    }
    .wiz-site-identity {
        padding-top: 60px;
    }
    .menu-icon-social{
        position: absolute;
        top: 0;
        left: 2px;
        z-index: 999;
    }
    .site-title{
        display: block;
    }
    .site-branding{
        text-align: center;
    }
    #site-navigation {
        display: block;
        li {
            width: 100%;
            display: block;
            float: none;
            position: relative;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            &:hover{
                > .sub-menu{            
                    position: static;
                }
                >a{
                    &:after{
                        transform: rotateX(180deg) !important;
                    }
                }
            } 
            ul{
                li{
                    &:hover{
                        >a{
                            &:after{
                                transform: rotateX(180deg);
                            }
                        }
                    }
                    &.menu-item-has-children{
                        width: 80%;
                        margin: auto;
                        >a{
                            position: static;
                            &:after{
                                top: inherit;
                                transform: translate(0,0%);
                            }
                        }
                    }
                }
            } 
        }
        li:last-child {
            border-bottom: 0px;
        }
        .sub-menu {
            width: 100%;
        }
    }
    .wiz-sitehead-custom-menu-items {
        display: block;
        text-align: center;
        .wiz-search-container{
            width: 250px;
        }
    }
    
    .main-header-container {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    .henavigation,
    .wiz-main-header-bar-alignment {
        width: 100%;
        text-align: center;
    }
}
.wiz-header-break-point{
    .header-main-layout-8{
        .main-header-container{
            display: flex !important;
        }
        .menu-icon-social{
            display: none !important;
        }
        .main-header-container{
            flex-direction: row;
            display: flex;
            visibility: visible !important;
            opacity: 1 !important;
        }
        .wiz-site-identity{
            padding: 0;
        }
        .ss-content{
            overflow: hidden;
            width: auto;
        }
        .site-branding{
            padding-left: 20px;
        }
        .wiz-mobile-menu-buttons{
            padding-right: 20px;
        }
    }
    .header-main-layout-8 , .header-main-layout-6{
        .wiz-sitehead-custom-menu-items{
            .search-icon{
                .wiz-search-container{
                    width: fit-content;
                    margin: auto;
                .wiz-search-menu-icon{
                    left: unset;
                }
                .wiz-dropdown-active{
                    left: unset;
                 }
                    }
            }
        }
     }
     .header-main-layout-8 , .header-main-layout-6 ,.header-main-layout-7 {
        .main-header-bar-wrap {
            width: 100%;
            border: 0px !important; 
            }
            .ss-wrapper {
            position: initial;
            margin: 0px;
            height: auto;
            }
     }
}
