/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Page Title
--------------------------------------------------------------*/
.wiz-go-top-link {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  z-index: 99999;
  opacity: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.wiz-go-top-link:before {
  content: "\e911";
  font-family: 'wiz-font';
  font-size: 20px;
}

.wiz-go-top-link span {
  font-size: 0;
  position: absolute;
}

.wiz-go-top-link.is-opacity {
  opacity: 1;
  visibility: visible;
}

/* Go Top Responsive */
@media only screen and (max-width: 480px) {
  .hide-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .hide-tablet {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .hide-tablet-mobile {
    display: none !important;
  }
}
