$color-background-top-bar: 				#333;			// Background color for horizontal line
$color-background-page-title: 			#ccc;			// Background color for horizontal line

$color-background-header:               #fff;           //Background Color For Headers
$color-header-icon:                     #1e73be;
$color-background-header-icon:          #191919;
$color-background-hover-header-icon:    #666;
$color-hover-header-icon:               #ffffff;

$color-background-body: 			#ffffff;		// Background color for body
$color-background-screen: 			#f1f1f1;		// Background color for screen reader
$color-background-hr: 				#ccc;			// Background color for horizontal line
$color-background-button: 			#e6e6e6;		// Background color for button
$color-background-pre: 				#eee;			// Background color for preformatted text
$color-background-ins: 				#fff9c0;		// Background color for text inserted into document
$color-background-top-footer:		#333;			// Top footer background color
$color-background-bottom-footer:	#111;			// Bottom footer background color

$color-text-screen: 				#21759b;		// Screen reader text color
$color-text-input: 					#666;			// Input box text color
$color-text-input-focus: 			#111;			// Input box text color on focus event
$color-link: 						royalblue;		// Link Color
$color-link-visited: 				purple;			// Link Visited Color
$color-link-hover: 					midnightblue;	// Link Hover Color
$color-text-main: 					#808285;		// Text color

$color-border-button: 				#eaeaea;		// Button border color
$color-border-button-hover: 		#eaeaea;		// Button border color for hover event
$color-border-button-focus: 		#eaeaea;		// Button border color for focus & active event
$color-border-input: 				#ccc;			// Input box, textarea border color
$color-border-abbr: 				#666;			// Abbreviation tag bottom border color


