.wiz-page-title-addon-content {
    padding: 50px 0px;
    background-color: $color-background-page-title;
}
.wiz-breadcrumb-trail {
    .trail-items, li {
        list-style: none;
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }
    .breadcrumb-sep {
        padding: 0 0.4em;
    }
}
.page-title-layout-2{
    .wiz-container {
        display: flex;
        flex-wrap: nowrap;
    }
    .wiz-page-title-wrap, .wiz-breadcrumb-trail  {
        flex-grow: 1;
        text-align: center;
        align-self: center;
        text-align: left;
    }
    .wiz-breadcrumb-trail {
        text-align: right;
    }
}

.wiz-merged-header-title {
    .wiz-page-title-addon-content { 
        background-color: transparent;
        background-image: none;
    }
}

.wiz-page-title {
    &::after {
    content: "";
    display: block;
    }
}
.align-center {
    .wiz-page-title {
    &::after {
        margin-left: auto;
        margin-right: auto;
    }
}
}

.align-right {
    .wiz-page-title {
    &::after {
        margin-left: auto; 
    }
}
}
//Page Title Layout 3
.page-title-layout-3{
    .wiz-page-title-wrap{
        border-right: 3px solid;
    }
}

@media only screen and (max-width: 767px) {
    .page-title-layout-3{
        .wiz-page-title-wrap{
            justify-content: center;
            border-right: none;
        }
        .wiz-breadcrumb-trail{
            display: none;
        }
    }
}