/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Extra Widgets
--------------------------------------------------------------*/
.widget_mailchimp .mailchimp-form .wiz-mailchimp-form div:first-child {
  margin: 20px 0;
}

.widget_mailchimp .mailchimp-form .wiz-mailchimp-form input[name=email] {
  width: 100%;
  padding: 16px 45px 16px 15px;
}

.widget_mailchimp .mailchimp-form .wiz-mailchimp-form input[name=email]:focus {
  outline: none;
}

.widget_mailchimp .mailchimp-form .wiz-mailchimp-form span.alert {
  display: none;
}

.widget_mailchimp .mailchimp-form .wiz-mailchimp-form span.alert.visible {
  display: block;
}

.widget_mailchimp .mailchimp-form .wiz-mailchimp-form div.alert {
  display: none;
}

.widget_mailchimp .mailchimp-form .wiz-mailchimp-form div.alert.visible {
  display: block;
}

.wiz-social-profiles {
  display: flex;
  flex-wrap: wrap;
}

.wiz-social-profiles.simple .wiz-profile-link {
  line-height: 1;
}

.wiz-social-profiles.simple .wiz-profile-link .profile-icon {
  height: 1em;
  width: 1em;
}

.wiz-social-profiles.circle-outline .wiz-profile-link .profile-icon, .wiz-social-profiles.square-outline .wiz-profile-link .profile-icon {
  border-width: 1px;
  border-style: solid;
  border-color: #00000033;
  background: transparent;
}

.wiz-social-profiles.circle-outline .wiz-profile-link .profile-icon, .wiz-social-profiles.circle .wiz-profile-link .profile-icon {
  border-radius: 50%;
}

.wiz-social-profiles .wiz-profile-link {
  display: block;
  line-height: 2;
  margin-bottom: 5px;
}

.wiz-social-profiles .wiz-profile-link .profile-title {
  display: inline-block;
}

.wiz-social-profiles .wiz-profile-link .profile-icon {
  height: 2em;
  width: 2em;
  display: inline-block;
  color: #fff;
  background-color: inherit;
  font-size: 15px;
  text-align: center;
}

.wiz-social-profiles .wiz-profile-link .dashicons, .wiz-social-profiles .wiz-profile-link .dashicons-before:before {
  width: unset;
  height: unset;
  font-size: inherit;
  line-height: inherit;
}
