/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Top Header
--------------------------------------------------------------*/
.top-navigation {
  display: flex;
  align-items: center;
  line-height: 2;
}

.top-navigation .nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
  z-index: 99999;
}

.top-navigation .nav-menu .sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: -999em;
  left: -999em;
}

.top-navigation .nav-menu .sub-menu li {
  display: inline-block;
  position: relative;
  text-align: left;
}

.top-navigation .nav-menu .sub-menu li li {
  display: block;
}

.top-navigation .nav-menu li {
  display: inline-block;
  position: relative;
  text-align: right;
}

.top-navigation .nav-menu li.focus > .sub-menu,
.top-navigation .nav-menu li:hover > .sub-menu {
  top: auto;
  left: auto;
}

.top-navigation .nav-menu li li.focus > .sub-menu,
.top-navigation .nav-menu li li.hover > .sub-menu {
  left: 100%;
  top: 0;
}

.top-navigation .nav-menu a {
  text-decoration: none;
  display: block;
  white-space: nowrap;
  padding: 0 1em;
}

.top-navigation .nav-menu .menu-item-has-children > a::after {
  content: "\e907";
  display: inline-block;
  font-family: Wiz-font;
  font-size: 9px;
  font-size: 1rem;
  font-weight: 700;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
  vertical-align: middle;
  line-height: normal;
}

.top-bar-search-icon .wiz-top-header-section .wiz-search-icon {
  display: block;
}

.top-bar-search-icon .wiz-top-header-section .wiz-search-menu-icon {
  z-index: 10;
}

.top-bar-search-icon .wiz-top-header-section .wiz-search-menu-icon .search-submit {
  display: none;
}

.wiz-top-header {
  padding: 10px 0px;
  border-bottom-width: 1px;
}

.top-bar-search-box .wiz-top-header-section .wiz-search-icon {
  display: none;
}

.top-bar-search-box .wiz-top-header-section .wiz-search-menu-icon {
  width: 250px;
  visibility: visible;
  opacity: 1;
  position: static;
  display: block;
  transform: none;
}

.top-bar-search-box .wiz-top-header-section .wiz-search-menu-icon .search-submit {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding: 0 1em;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
}

.top-bar-search-box .wiz-top-header-section .wiz-search-menu-icon .search-field {
  width: 100%;
  margin: 0;
}

.top-bar-search-box .wiz-top-header-section .wiz-search-menu-icon .search-form {
  padding: 0;
  display: block;
  overflow: hidden;
  box-shadow: none;
}

.wiz-top-header-section-1 .wiz-search-menu-icon {
  right: auto;
  left: 30px;
}

.wiz-top-header-section-1 .wiz-dropdown-active {
  left: 0;
}

.wiz-top-header-section.wiz-top-header-section-2 .wiz-search-menu-icon {
  right: 30px;
}

.wiz-top-header-section.wiz-top-header-section-2 .wiz-dropdown-active {
  right: 0;
}

/* Top Header Responsive */
@media only screen and (max-width: 480px) {
  .wiz-top-header.hide-mobile {
    display: none;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .wiz-top-header.hide-tablet {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .wiz-top-header.hide-tablet-mobile {
    display: none;
  }
  .wiz-header-break-point .wiz-top-header-section.wiz-top-header-section-2 .wiz-search-menu-icon, .wiz-header-break-point .wiz-top-header-section.wiz-top-header-section-1 .wiz-search-menu-icon {
    left: 30px;
    right: auto;
  }
  .wiz-header-break-point .wiz-top-header-section.wiz-top-header-section-2 .wiz-dropdown-active, .wiz-header-break-point .wiz-top-header-section.wiz-top-header-section-1 .wiz-dropdown-active {
    right: auto;
    left: 0;
  }
  .wiz-header-break-point .wiz-top-header-section .wiz-search-menu-icon {
    left: 0;
    right: auto;
  }
}
